{
    "swagger":  "2.0",
    "info":  {
                 "title":  "Chat API",
                 "description":  "Chat API documentation",
                 "termsOfService":  "https://www.google.com/policies/terms/",
                 "contact":  {
                                 "email":  "employes@gmail.com"
                             },
                 "license":  {
                                 "name":  "BSD License"
                             },
                 "version":  "v1"
             },
    "host":  "backend.scholarmap.uz",
    "schemes":  [
                    "https"
                ],
    "basePath":  "/v1",
    "consumes":  [
                     "application/json"
                 ],
    "produces":  [
                     "application/json"
                 ],
    "securityDefinitions":  {
                                "Basic":  {
                                              "type":  "basic"
                                          },
                                "Bearer":  {
                                               "type":  "apiKey",
                                               "name":  "Authorization",
                                               "in":  "header"
                                           }
                            },
    "security":  [
                     {
                         "Basic":  [

                                   ]
                     },
                     {
                         "Bearer":  [

                                    ]
                     }
                 ],
    "paths":  {
                  "/auth/code/verify/":  {
                                             "post":  {
                                                          "operationId":  "auth_code_verify_code_email",
                                                          "description":  "",
                                                          "parameters":  [
                                                                             {
                                                                                 "name":  "data",
                                                                                 "in":  "body",
                                                                                 "required":  true,
                                                                                 "schema":  {
                                                                                                "$ref":  "#/definitions/VerifyCode"
                                                                                            }
                                                                             }
                                                                         ],
                                                          "responses":  {
                                                                            "201":  {
                                                                                        "description":  "",
                                                                                        "schema":  {
                                                                                                       "$ref":  "#/definitions/VerifyCode"
                                                                                                   }
                                                                                    }
                                                                        },
                                                          "tags":  [
                                                                       "auth"
                                                                   ]
                                                      },
                                             "parameters":  [

                                                            ]
                                         },
                  "/auth/google/login":  {
                                             "post":  {
                                                          "operationId":  "auth_google_login_create",
                                                          "description":  "",
                                                          "parameters":  [
                                                                             {
                                                                                 "name":  "data",
                                                                                 "in":  "body",
                                                                                 "required":  true,
                                                                                 "schema":  {
                                                                                                "$ref":  "#/definitions/GoogleLogin"
                                                                                            }
                                                                             }
                                                                         ],
                                                          "responses":  {
                                                                            "201":  {
                                                                                        "description":  "",
                                                                                        "schema":  {
                                                                                                       "$ref":  "#/definitions/GoogleLogin"
                                                                                                   }
                                                                                    }
                                                                        },
                                                          "tags":  [
                                                                       "auth"
                                                                   ]
                                                      },
                                             "parameters":  [

                                                            ]
                                         },
                  "/auth/login/":  {
                                       "post":  {
                                                    "operationId":  "auth_send_code_email",
                                                    "description":  "",
                                                    "parameters":  [
                                                                       {
                                                                           "name":  "data",
                                                                           "in":  "body",
                                                                           "required":  true,
                                                                           "schema":  {
                                                                                          "$ref":  "#/definitions/SendCode"
                                                                                      }
                                                                       }
                                                                   ],
                                                    "responses":  {
                                                                      "201":  {
                                                                                  "description":  "",
                                                                                  "schema":  {
                                                                                                 "$ref":  "#/definitions/SendCode"
                                                                                             }
                                                                              }
                                                                  },
                                                    "tags":  [
                                                                 "auth"
                                                             ]
                                                },
                                       "parameters":  [

                                                      ]
                                   },
                  "/auth/register/":  {
                                          "post":  {
                                                       "operationId":  "auth_register_email",
                                                       "description":  "",
                                                       "parameters":  [
                                                                          {
                                                                              "name":  "data",
                                                                              "in":  "body",
                                                                              "required":  true,
                                                                              "schema":  {
                                                                                             "$ref":  "#/definitions/RegisterSerializerConfig"
                                                                                         }
                                                                          }
                                                                      ],
                                                       "responses":  {
                                                                         "201":  {
                                                                                     "description":  "",
                                                                                     "schema":  {
                                                                                                    "$ref":  "#/definitions/RegisterSerializerConfig"
                                                                                                }
                                                                                 }
                                                                     },
                                                       "tags":  [
                                                                    "auth"
                                                                ]
                                                   },
                                          "parameters":  [

                                                         ]
                                      },
                  "/auth/token/refresh/":  {
                                               "post":  {
                                                            "operationId":  "auth_token_refresh_create",
                                                            "description":  "Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.",
                                                            "parameters":  [
                                                                               {
                                                                                   "name":  "data",
                                                                                   "in":  "body",
                                                                                   "required":  true,
                                                                                   "schema":  {
                                                                                                  "$ref":  "#/definitions/TokenRefresh"
                                                                                              }
                                                                               }
                                                                           ],
                                                            "responses":  {
                                                                              "201":  {
                                                                                          "description":  "",
                                                                                          "schema":  {
                                                                                                         "$ref":  "#/definitions/TokenRefresh"
                                                                                                     }
                                                                                      }
                                                                          },
                                                            "tags":  [
                                                                         "auth"
                                                                     ]
                                                        },
                                               "parameters":  [

                                                              ]
                                           },
                  "/auth/token/verify/":  {
                                              "post":  {
                                                           "operationId":  "auth_token_verify_create",
                                                           "description":  "Takes a token and indicates if it is valid.  This view provides no\ninformation about a token\u0027s fitness for a particular use.",
                                                           "parameters":  [
                                                                              {
                                                                                  "name":  "data",
                                                                                  "in":  "body",
                                                                                  "required":  true,
                                                                                  "schema":  {
                                                                                                 "$ref":  "#/definitions/TokenVerify"
                                                                                             }
                                                                              }
                                                                          ],
                                                           "responses":  {
                                                                             "201":  {
                                                                                         "description":  "",
                                                                                         "schema":  {
                                                                                                        "$ref":  "#/definitions/TokenVerify"
                                                                                                    }
                                                                                     }
                                                                         },
                                                           "tags":  [
                                                                        "auth"
                                                                    ]
                                                       },
                                              "parameters":  [

                                                             ]
                                          },
                  "/embedding_search/":  {
                                             "get":  {
                                                         "operationId":  "embedding_search_list",
                                                         "description":  "",
                                                         "parameters":  [
                                                                            {
                                                                                "name":  "page",
                                                                                "in":  "query",
                                                                                "description":  "A page number within the paginated result set.",
                                                                                "required":  false,
                                                                                "type":  "integer"
                                                                            }
                                                                        ],
                                                         "responses":  {
                                                                           "200":  {
                                                                                       "description":  "",
                                                                                       "schema":  {
                                                                                                      "required":  [
                                                                                                                       "count",
                                                                                                                       "results"
                                                                                                                   ],
                                                                                                      "type":  "object",
                                                                                                      "properties":  {
                                                                                                                         "count":  {
                                                                                                                                       "type":  "integer"
                                                                                                                                   },
                                                                                                                         "next":  {
                                                                                                                                      "type":  "string",
                                                                                                                                      "format":  "uri",
                                                                                                                                      "x-nullable":  true
                                                                                                                                  },
                                                                                                                         "previous":  {
                                                                                                                                          "type":  "string",
                                                                                                                                          "format":  "uri",
                                                                                                                                          "x-nullable":  true
                                                                                                                                      },
                                                                                                                         "results":  {
                                                                                                                                         "type":  "array",
                                                                                                                                         "items":  {
                                                                                                                                                       "$ref":  "#/definitions/SearchIndexSerializerConfig"
                                                                                                                                                   }
                                                                                                                                     }
                                                                                                                     }
                                                                                                  }
                                                                                   }
                                                                       },
                                                         "tags":  [
                                                                      "embedding_search"
                                                                  ]
                                                     },
                                             "post":  {
                                                          "operationId":  "embedding_search_create",
                                                          "description":  "",
                                                          "parameters":  [
                                                                             {
                                                                                 "name":  "data",
                                                                                 "in":  "body",
                                                                                 "required":  true,
                                                                                 "schema":  {
                                                                                                "$ref":  "#/definitions/SearchIndexSerializerConfig"
                                                                                            }
                                                                             }
                                                                         ],
                                                          "responses":  {
                                                                            "201":  {
                                                                                        "description":  "",
                                                                                        "schema":  {
                                                                                                       "$ref":  "#/definitions/SearchIndexSerializerConfig"
                                                                                                   }
                                                                                    }
                                                                        },
                                                          "tags":  [
                                                                       "embedding_search"
                                                                   ]
                                                      },
                                             "parameters":  [

                                                            ]
                                         },
                  "/embedding_search/search/":  {
                                                    "get":  {
                                                                "operationId":  "embedding_search_search",
                                                                "description":  "",
                                                                "parameters":  [
                                                                                   {
                                                                                       "name":  "page",
                                                                                       "in":  "query",
                                                                                       "description":  "A page number within the paginated result set.",
                                                                                       "required":  false,
                                                                                       "type":  "integer"
                                                                                   },
                                                                                   {
                                                                                       "name":  "q",
                                                                                       "in":  "query",
                                                                                       "description":  "Qidiruv matni",
                                                                                       "required":  true,
                                                                                       "type":  "string"
                                                                                   },
                                                                                   {
                                                                                       "name":  "limit",
                                                                                       "in":  "query",
                                                                                       "description":  "Natijalar soni (1-50)",
                                                                                       "required":  false,
                                                                                       "type":  "integer"
                                                                                   }
                                                                               ],
                                                                "responses":  {
                                                                                  "200":  {
                                                                                              "description":  "",
                                                                                              "schema":  {
                                                                                                             "required":  [
                                                                                                                              "count",
                                                                                                                              "results"
                                                                                                                          ],
                                                                                                             "type":  "object",
                                                                                                             "properties":  {
                                                                                                                                "count":  {
                                                                                                                                              "type":  "integer"
                                                                                                                                          },
                                                                                                                                "next":  {
                                                                                                                                             "type":  "string",
                                                                                                                                             "format":  "uri",
                                                                                                                                             "x-nullable":  true
                                                                                                                                         },
                                                                                                                                "previous":  {
                                                                                                                                                 "type":  "string",
                                                                                                                                                 "format":  "uri",
                                                                                                                                                 "x-nullable":  true
                                                                                                                                             },
                                                                                                                                "results":  {
                                                                                                                                                "type":  "array",
                                                                                                                                                "items":  {
                                                                                                                                                              "$ref":  "#/definitions/SearchIndexSerializerConfig"
                                                                                                                                                          }
                                                                                                                                            }
                                                                                                                            }
                                                                                                         }
                                                                                          }
                                                                              },
                                                                "tags":  [
                                                                             "embedding_search"
                                                                         ]
                                                            },
                                                    "parameters":  [

                                                                   ]
                                                },
                  "/embedding_search/{id}/":  {
                                                  "get":  {
                                                              "operationId":  "embedding_search_read",
                                                              "description":  "",
                                                              "parameters":  [

                                                                             ],
                                                              "responses":  {
                                                                                "200":  {
                                                                                            "description":  "",
                                                                                            "schema":  {
                                                                                                           "$ref":  "#/definitions/SearchIndexSerializerConfig"
                                                                                                       }
                                                                                        }
                                                                            },
                                                              "tags":  [
                                                                           "embedding_search"
                                                                       ]
                                                          },
                                                  "put":  {
                                                              "operationId":  "embedding_search_update",
                                                              "description":  "",
                                                              "parameters":  [
                                                                                 {
                                                                                     "name":  "data",
                                                                                     "in":  "body",
                                                                                     "required":  true,
                                                                                     "schema":  {
                                                                                                    "$ref":  "#/definitions/SearchIndexSerializerConfig"
                                                                                                }
                                                                                 }
                                                                             ],
                                                              "responses":  {
                                                                                "200":  {
                                                                                            "description":  "",
                                                                                            "schema":  {
                                                                                                           "$ref":  "#/definitions/SearchIndexSerializerConfig"
                                                                                                       }
                                                                                        }
                                                                            },
                                                              "tags":  [
                                                                           "embedding_search"
                                                                       ]
                                                          },
                                                  "patch":  {
                                                                "operationId":  "embedding_search_partial_update",
                                                                "description":  "",
                                                                "parameters":  [
                                                                                   {
                                                                                       "name":  "data",
                                                                                       "in":  "body",
                                                                                       "required":  true,
                                                                                       "schema":  {
                                                                                                      "$ref":  "#/definitions/SearchIndexSerializerConfig"
                                                                                                  }
                                                                                   }
                                                                               ],
                                                                "responses":  {
                                                                                  "200":  {
                                                                                              "description":  "",
                                                                                              "schema":  {
                                                                                                             "$ref":  "#/definitions/SearchIndexSerializerConfig"
                                                                                                         }
                                                                                          }
                                                                              },
                                                                "tags":  [
                                                                             "embedding_search"
                                                                         ]
                                                            },
                                                  "delete":  {
                                                                 "operationId":  "embedding_search_delete",
                                                                 "description":  "",
                                                                 "parameters":  [

                                                                                ],
                                                                 "responses":  {
                                                                                   "204":  {
                                                                                               "description":  ""
                                                                                           }
                                                                               },
                                                                 "tags":  [
                                                                              "embedding_search"
                                                                          ]
                                                             },
                                                  "parameters":  [
                                                                     {
                                                                         "name":  "id",
                                                                         "in":  "path",
                                                                         "description":  "A unique integer value identifying this search index.",
                                                                         "required":  true,
                                                                         "type":  "integer"
                                                                     }
                                                                 ]
                                              },
                  "/episode/":  {
                                    "get":  {
                                                "operationId":  "episode_list",
                                                "description":  "",
                                                "parameters":  [
                                                                   {
                                                                       "name":  "series",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "episode_number",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "telegram_channel",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "is_cashed",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "series_title",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "episode_number_min",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "episode_number_max",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "duration_seconds",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "duration_min",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "duration_max",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "has_cache_file",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "created_after",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "created_before",
                                                                       "in":  "query",
                                                                       "description":  "",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "ordering",
                                                                       "in":  "query",
                                                                       "description":  "Ordering",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "search",
                                                                       "in":  "query",
                                                                       "description":  "A search term.",
                                                                       "required":  false,
                                                                       "type":  "string"
                                                                   },
                                                                   {
                                                                       "name":  "page",
                                                                       "in":  "query",
                                                                       "description":  "A page number within the paginated result set.",
                                                                       "required":  false,
                                                                       "type":  "integer"
                                                                   }
                                                               ],
                                                "responses":  {
                                                                  "200":  {
                                                                              "description":  "",
                                                                              "schema":  {
                                                                                             "required":  [
                                                                                                              "count",
                                                                                                              "results"
                                                                                                          ],
                                                                                             "type":  "object",
                                                                                             "properties":  {
                                                                                                                "count":  {
                                                                                                                              "type":  "integer"
                                                                                                                          },
                                                                                                                "next":  {
                                                                                                                             "type":  "string",
                                                                                                                             "format":  "uri",
                                                                                                                             "x-nullable":  true
                                                                                                                         },
                                                                                                                "previous":  {
                                                                                                                                 "type":  "string",
                                                                                                                                 "format":  "uri",
                                                                                                                                 "x-nullable":  true
                                                                                                                             },
                                                                                                                "results":  {
                                                                                                                                "type":  "array",
                                                                                                                                "items":  {
                                                                                                                                              "$ref":  "#/definitions/EpisodeSerializerConfig"
                                                                                                                                          }
                                                                                                                            }
                                                                                                            }
                                                                                         }
                                                                          }
                                                              },
                                                "tags":  [
                                                             "episode"
                                                         ]
                                            },
                                    "post":  {
                                                 "operationId":  "episode_create",
                                                 "description":  "",
                                                 "parameters":  [
                                                                    {
                                                                        "name":  "data",
                                                                        "in":  "body",
                                                                        "required":  true,
                                                                        "schema":  {
                                                                                       "$ref":  "#/definitions/EpisodeSerializerConfig"
                                                                                   }
                                                                    }
                                                                ],
                                                 "responses":  {
                                                                   "201":  {
                                                                               "description":  "",
                                                                               "schema":  {
                                                                                              "$ref":  "#/definitions/EpisodeSerializerConfig"
                                                                                          }
                                                                           }
                                                               },
                                                 "tags":  [
                                                              "episode"
                                                          ]
                                             },
                                    "parameters":  [

                                                   ]
                                },
                  "/episode/{id}/":  {
                                         "get":  {
                                                     "operationId":  "episode_read",
                                                     "description":  "",
                                                     "parameters":  [

                                                                    ],
                                                     "responses":  {
                                                                       "200":  {
                                                                                   "description":  "",
                                                                                   "schema":  {
                                                                                                  "$ref":  "#/definitions/EpisodeSerializerConfig"
                                                                                              }
                                                                               }
                                                                   },
                                                     "tags":  [
                                                                  "episode"
                                                              ]
                                                 },
                                         "put":  {
                                                     "operationId":  "episode_update",
                                                     "description":  "",
                                                     "parameters":  [
                                                                        {
                                                                            "name":  "data",
                                                                            "in":  "body",
                                                                            "required":  true,
                                                                            "schema":  {
                                                                                           "$ref":  "#/definitions/EpisodeSerializerConfig"
                                                                                       }
                                                                        }
                                                                    ],
                                                     "responses":  {
                                                                       "200":  {
                                                                                   "description":  "",
                                                                                   "schema":  {
                                                                                                  "$ref":  "#/definitions/EpisodeSerializerConfig"
                                                                                              }
                                                                               }
                                                                   },
                                                     "tags":  [
                                                                  "episode"
                                                              ]
                                                 },
                                         "patch":  {
                                                       "operationId":  "episode_partial_update",
                                                       "description":  "",
                                                       "parameters":  [
                                                                          {
                                                                              "name":  "data",
                                                                              "in":  "body",
                                                                              "required":  true,
                                                                              "schema":  {
                                                                                             "$ref":  "#/definitions/EpisodeSerializerConfig"
                                                                                         }
                                                                          }
                                                                      ],
                                                       "responses":  {
                                                                         "200":  {
                                                                                     "description":  "",
                                                                                     "schema":  {
                                                                                                    "$ref":  "#/definitions/EpisodeSerializerConfig"
                                                                                                }
                                                                                 }
                                                                     },
                                                       "tags":  [
                                                                    "episode"
                                                                ]
                                                   },
                                         "delete":  {
                                                        "operationId":  "episode_delete",
                                                        "description":  "",
                                                        "parameters":  [

                                                                       ],
                                                        "responses":  {
                                                                          "204":  {
                                                                                      "description":  ""
                                                                                  }
                                                                      },
                                                        "tags":  [
                                                                     "episode"
                                                                 ]
                                                    },
                                         "parameters":  [
                                                            {
                                                                "name":  "id",
                                                                "in":  "path",
                                                                "description":  "A unique integer value identifying this episode.",
                                                                "required":  true,
                                                                "type":  "integer"
                                                            }
                                                        ]
                                     },
                  "/episode/{id}/stream/":  {
                                                "get":  {
                                                            "operationId":  "episode_stream",
                                                            "description":  "",
                                                            "parameters":  [

                                                                           ],
                                                            "responses":  {
                                                                              "200":  {
                                                                                          "description":  "",
                                                                                          "schema":  {
                                                                                                         "$ref":  "#/definitions/EpisodeSerializerConfig"
                                                                                                     }
                                                                                      }
                                                                          },
                                                            "tags":  [
                                                                         "episode"
                                                                     ]
                                                        },
                                                "parameters":  [
                                                                   {
                                                                       "name":  "id",
                                                                       "in":  "path",
                                                                       "description":  "A unique integer value identifying this episode.",
                                                                       "required":  true,
                                                                       "type":  "integer"
                                                                   }
                                                               ]
                                            },
                  "/genre/":  {
                                  "get":  {
                                              "operationId":  "genre_list",
                                              "description":  "",
                                              "parameters":  [
                                                                 {
                                                                     "name":  "name",
                                                                     "in":  "query",
                                                                     "description":  "",
                                                                     "required":  false,
                                                                     "type":  "string"
                                                                 },
                                                                 {
                                                                     "name":  "search",
                                                                     "in":  "query",
                                                                     "description":  "A search term.",
                                                                     "required":  false,
                                                                     "type":  "string"
                                                                 },
                                                                 {
                                                                     "name":  "page",
                                                                     "in":  "query",
                                                                     "description":  "A page number within the paginated result set.",
                                                                     "required":  false,
                                                                     "type":  "integer"
                                                                 }
                                                             ],
                                              "responses":  {
                                                                "200":  {
                                                                            "description":  "",
                                                                            "schema":  {
                                                                                           "required":  [
                                                                                                            "count",
                                                                                                            "results"
                                                                                                        ],
                                                                                           "type":  "object",
                                                                                           "properties":  {
                                                                                                              "count":  {
                                                                                                                            "type":  "integer"
                                                                                                                        },
                                                                                                              "next":  {
                                                                                                                           "type":  "string",
                                                                                                                           "format":  "uri",
                                                                                                                           "x-nullable":  true
                                                                                                                       },
                                                                                                              "previous":  {
                                                                                                                               "type":  "string",
                                                                                                                               "format":  "uri",
                                                                                                                               "x-nullable":  true
                                                                                                                           },
                                                                                                              "results":  {
                                                                                                                              "type":  "array",
                                                                                                                              "items":  {
                                                                                                                                            "$ref":  "#/definitions/GenreSerializerConfig"
                                                                                                                                        }
                                                                                                                          }
                                                                                                          }
                                                                                       }
                                                                        }
                                                            },
                                              "tags":  [
                                                           "genre"
                                                       ]
                                          },
                                  "post":  {
                                               "operationId":  "genre_create",
                                               "description":  "",
                                               "parameters":  [
                                                                  {
                                                                      "name":  "data",
                                                                      "in":  "body",
                                                                      "required":  true,
                                                                      "schema":  {
                                                                                     "$ref":  "#/definitions/GenreSerializerConfig"
                                                                                 }
                                                                  }
                                                              ],
                                               "responses":  {
                                                                 "201":  {
                                                                             "description":  "",
                                                                             "schema":  {
                                                                                            "$ref":  "#/definitions/GenreSerializerConfig"
                                                                                        }
                                                                         }
                                                             },
                                               "tags":  [
                                                            "genre"
                                                        ]
                                           },
                                  "parameters":  [

                                                 ]
                              },
                  "/genre/{id}/":  {
                                       "get":  {
                                                   "operationId":  "genre_read",
                                                   "description":  "",
                                                   "parameters":  [

                                                                  ],
                                                   "responses":  {
                                                                     "200":  {
                                                                                 "description":  "",
                                                                                 "schema":  {
                                                                                                "$ref":  "#/definitions/GenreSerializerConfig"
                                                                                            }
                                                                             }
                                                                 },
                                                   "tags":  [
                                                                "genre"
                                                            ]
                                               },
                                       "put":  {
                                                   "operationId":  "genre_update",
                                                   "description":  "",
                                                   "parameters":  [
                                                                      {
                                                                          "name":  "data",
                                                                          "in":  "body",
                                                                          "required":  true,
                                                                          "schema":  {
                                                                                         "$ref":  "#/definitions/GenreSerializerConfig"
                                                                                     }
                                                                      }
                                                                  ],
                                                   "responses":  {
                                                                     "200":  {
                                                                                 "description":  "",
                                                                                 "schema":  {
                                                                                                "$ref":  "#/definitions/GenreSerializerConfig"
                                                                                            }
                                                                             }
                                                                 },
                                                   "tags":  [
                                                                "genre"
                                                            ]
                                               },
                                       "patch":  {
                                                     "operationId":  "genre_partial_update",
                                                     "description":  "",
                                                     "parameters":  [
                                                                        {
                                                                            "name":  "data",
                                                                            "in":  "body",
                                                                            "required":  true,
                                                                            "schema":  {
                                                                                           "$ref":  "#/definitions/GenreSerializerConfig"
                                                                                       }
                                                                        }
                                                                    ],
                                                     "responses":  {
                                                                       "200":  {
                                                                                   "description":  "",
                                                                                   "schema":  {
                                                                                                  "$ref":  "#/definitions/GenreSerializerConfig"
                                                                                              }
                                                                               }
                                                                   },
                                                     "tags":  [
                                                                  "genre"
                                                              ]
                                                 },
                                       "delete":  {
                                                      "operationId":  "genre_delete",
                                                      "description":  "",
                                                      "parameters":  [

                                                                     ],
                                                      "responses":  {
                                                                        "204":  {
                                                                                    "description":  ""
                                                                                }
                                                                    },
                                                      "tags":  [
                                                                   "genre"
                                                               ]
                                                  },
                                       "parameters":  [
                                                          {
                                                              "name":  "id",
                                                              "in":  "path",
                                                              "description":  "A unique integer value identifying this genre.",
                                                              "required":  true,
                                                              "type":  "integer"
                                                          }
                                                      ]
                                   },
                  "/message/":  {
                                    "get":  {
                                                "operationId":  "message_list",
                                                "description":  "",
                                                "parameters":  [
                                                                   {
                                                                       "name":  "page",
                                                                       "in":  "query",
                                                                       "description":  "A page number within the paginated result set.",
                                                                       "required":  false,
                                                                       "type":  "integer"
                                                                   }
                                                               ],
                                                "responses":  {
                                                                  "200":  {
                                                                              "description":  "",
                                                                              "schema":  {
                                                                                             "required":  [
                                                                                                              "count",
                                                                                                              "results"
                                                                                                          ],
                                                                                             "type":  "object",
                                                                                             "properties":  {
                                                                                                                "count":  {
                                                                                                                              "type":  "integer"
                                                                                                                          },
                                                                                                                "next":  {
                                                                                                                             "type":  "string",
                                                                                                                             "format":  "uri",
                                                                                                                             "x-nullable":  true
                                                                                                                         },
                                                                                                                "previous":  {
                                                                                                                                 "type":  "string",
                                                                                                                                 "format":  "uri",
                                                                                                                                 "x-nullable":  true
                                                                                                                             },
                                                                                                                "results":  {
                                                                                                                                "type":  "array",
                                                                                                                                "items":  {
                                                                                                                                              "$ref":  "#/definitions/MessageSerializerConfig"
                                                                                                                                          }
                                                                                                                            }
                                                                                                            }
                                                                                         }
                                                                          }
                                                              },
                                                "tags":  [
                                                             "message"
                                                         ]
                                            },
                                    "post":  {
                                                 "operationId":  "message_create",
                                                 "description":  "",
                                                 "parameters":  [
                                                                    {
                                                                        "name":  "data",
                                                                        "in":  "body",
                                                                        "required":  true,
                                                                        "schema":  {
                                                                                       "$ref":  "#/definitions/MessageSerializerConfig"
                                                                                   }
                                                                    }
                                                                ],
                                                 "responses":  {
                                                                   "201":  {
                                                                               "description":  "",
                                                                               "schema":  {
                                                                                              "$ref":  "#/definitions/MessageSerializerConfig"
                                                                                          }
                                                                           }
                                                               },
                                                 "tags":  [
                                                              "message"
                                                          ]
                                             },
                                    "parameters":  [

                                                   ]
                                },
                  "/message/{id}/":  {
                                         "get":  {
                                                     "operationId":  "message_read",
                                                     "description":  "",
                                                     "parameters":  [

                                                                    ],
                                                     "responses":  {
                                                                       "200":  {
                                                                                   "description":  "",
                                                                                   "schema":  {
                                                                                                  "$ref":  "#/definitions/MessageSerializerConfig"
                                                                                              }
                                                                               }
                                                                   },
                                                     "tags":  [
                                                                  "message"
                                                              ]
                                                 },
                                         "put":  {
                                                     "operationId":  "message_update",
                                                     "description":  "",
                                                     "parameters":  [
                                                                        {
                                                                            "name":  "data",
                                                                            "in":  "body",
                                                                            "required":  true,
                                                                            "schema":  {
                                                                                           "$ref":  "#/definitions/MessageSerializerConfig"
                                                                                       }
                                                                        }
                                                                    ],
                                                     "responses":  {
                                                                       "200":  {
                                                                                   "description":  "",
                                                                                   "schema":  {
                                                                                                  "$ref":  "#/definitions/MessageSerializerConfig"
                                                                                              }
                                                                               }
                                                                   },
                                                     "tags":  [
                                                                  "message"
                                                              ]
                                                 },
                                         "patch":  {
                                                       "operationId":  "message_partial_update",
                                                       "description":  "",
                                                       "parameters":  [
                                                                          {
                                                                              "name":  "data",
                                                                              "in":  "body",
                                                                              "required":  true,
                                                                              "schema":  {
                                                                                             "$ref":  "#/definitions/MessageSerializerConfig"
                                                                                         }
                                                                          }
                                                                      ],
                                                       "responses":  {
                                                                         "200":  {
                                                                                     "description":  "",
                                                                                     "schema":  {
                                                                                                    "$ref":  "#/definitions/MessageSerializerConfig"
                                                                                                }
                                                                                 }
                                                                     },
                                                       "tags":  [
                                                                    "message"
                                                                ]
                                                   },
                                         "delete":  {
                                                        "operationId":  "message_delete",
                                                        "description":  "",
                                                        "parameters":  [

                                                                       ],
                                                        "responses":  {
                                                                          "204":  {
                                                                                      "description":  ""
                                                                                  }
                                                                      },
                                                        "tags":  [
                                                                     "message"
                                                                 ]
                                                    },
                                         "parameters":  [
                                                            {
                                                                "name":  "id",
                                                                "in":  "path",
                                                                "description":  "A unique integer value identifying this message.",
                                                                "required":  true,
                                                                "type":  "integer"
                                                            }
                                                        ]
                                     },
                  "/movie-comments/":  {
                                           "get":  {
                                                       "operationId":  "movie-comments_list",
                                                       "description":  "",
                                                       "parameters":  [
                                                                          {
                                                                              "name":  "user",
                                                                              "in":  "query",
                                                                              "description":  "",
                                                                              "required":  false,
                                                                              "type":  "string"
                                                                          },
                                                                          {
                                                                              "name":  "movie",
                                                                              "in":  "query",
                                                                              "description":  "",
                                                                              "required":  false,
                                                                              "type":  "string"
                                                                          },
                                                                          {
                                                                              "name":  "text",
                                                                              "in":  "query",
                                                                              "description":  "",
                                                                              "required":  false,
                                                                              "type":  "string"
                                                                          },
                                                                          {
                                                                              "name":  "created_after",
                                                                              "in":  "query",
                                                                              "description":  "",
                                                                              "required":  false,
                                                                              "type":  "string"
                                                                          },
                                                                          {
                                                                              "name":  "created_before",
                                                                              "in":  "query",
                                                                              "description":  "",
[...]
